.t{
    width: 45px;
    height: 25px;
    border-radius: 20px;
    border: 1pz solid rgb(153, 153, 153);
    /* background-color: white; */
    position: absolute;
    bottom: 0x;
    right:  10px;
    /* top: 10px;
    right: 10px; */
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.t-icon{
    width: 13px;
    height: 13px;
}

.t-button{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #999;
    position: absolute;
    cursor: pointer;
}
